<h1>Mitarbeiterübersicht</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Wochenstunden</th>
  </tr>

<% @mitarbeiters.each do |mitarbeiter| %>
  <tr>
    <td><%=h mitarbeiter.name %></td>
    <td><%=h mitarbeiter.wochenstunden %></td>
    <td><%= link_to 'Details', mitarbeiter %></td>
    <td><%= link_to 'Bearbeiten', edit_mitarbeiter_path(mitarbeiter) %></td>
<!--><td><%= link_to 'Löschen', mitarbeiter, :confirm => 'Sicher?', :method => :delete %><--><td>Löschen</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neuen Mitarbeiter anlegen', new_mitarbeiter_path %>