<p>
  <b>Name:</b>
  <%=h @mitarbeiter.name %>
</p>

<p>
  <b>Wochenstunden:</b>
  <%=h @mitarbeiter.wochenstunden %>
</p>

<p>
<% if !@mitarbeiter.projekts.blank? %>
<b>leitet folgende Projekte:</b>

  <% for p in @mitarbeiter.projekts %>
    <%=h p.name %>
  <% end %>
<% else %>
<b>leitet keine Projekte</b>  
<% end %>

</p>


<%= link_to 'Bearbeiten', edit_mitarbeiter_path(@mitarbeiter) %> |
<%= link_to 'Zurück', mitarbeiters_path %>