<h1>Buchung bestätigen</h1>

<% form_for(@buchung) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :geleistet %><br />
    <%= f.text_field :geleistet %>
	/ <%= @buchung.gebucht%>
  </p>
  <p>
    <%= f.label :bestaetigung %><br />
    <%= f.text_area :bestaetigung %>
  </p>
  <p>
    <%= f.submit 'Buchungen Bestätigen' %>
  </p>
<% end %>

<%= link_to 'Zurück', mitarbeiter_path(@buchung.mitarbeiter) %>