<h1>Buchungsübersicht</h1>
<table>
  <tr>
    <th>Mitarbeiter</th>
    <th>Projekt</th>
    <th>Woche</th>
    <th>Jahr</th>
    <th>Geleistet</th>
    <th>Gebucht</th>
    <th>Beschreibung</th>
    <th>Bestaetigung</th>
  </tr>

<% @buchungs.each do |buchung| %>
  <tr>
    <td><%=h buchung.mitarbeiter.name %></td>
    <td><%=h buchung.projekt.name %></td>
    <td><%=h buchung.woche %></td>
    <td><%=h buchung.jahr %></td>
    <td><%=h buchung.geleistet %></td>
    <td><%=h buchung.gebucht %></td>
    <td><%=h buchung.beschreibung %></td>
    <td><%=h buchung.bestaetigung %></td>
    <td><%= link_to 'Bestätigen', buchung %></td>
    <td><%= link_to 'Delegieren', buchung %></td>
%></td>
  </tr>
<% end %>
</table>

<br />