<h1>Neue Buchung für Projekt <%= @projekt.name %></h1>

<% form_for(@buchung) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :mitarbeiter %><br />

	<%= select("buchung", "mitarbeiter_id", Mitarbeiter.all.collect {|p| [ p.name, p.id ] }) %>
  </p>

	<%= f.hidden_field :projekt_id %>
  <p>
    <%= f.label :woche %><br />
    <%= f.text_field :woche %>
  </p>
  <p>
    <%= f.label :jahr %><br />
    <%= f.text_field :jahr %>
  </p>
  <p>
    <%= f.label "Anzahl Stunden" %><br />
    <%= f.text_field :gebucht %>
  </p>
  <p>
    <%= f.label :beschreibung %><br />
    <%= f.text_area :beschreibung %>
  </p>
  <p>
    <%= f.submit 'Speichern' %>
  </p>
<% end %>

<%= link_to 'Abbruch', projekt_path(@projekt)%>