<h1>Projektübersicht</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Projektleiter</th>
    <th>Fertigstellungsgrad</th>
    <th>Einstufungsgrad</th>
    <th>verbraucht</th>
    <th>/ gebucht</th>
    <th>/ gesammt (Budget in Mannstunden)</th>

  </tr>

<% @projekts.each do |projekt| %>
  <tr>
    <td><%=h projekt.name %></td>
    <td><%=h projekt.mitarbeiter.name %></td>
    <td><%=h projekt.fertigstellungsgrad %>%</td>
    <td><%=h projekt.einstufungsgrad %>%</td>
	<td><%=h projekt.buchungs.sum('geleistet') %> /</td>
	<td><%=h projekt.buchungs.sum('gebucht') %> /</td>
	<td><%=h projekt.budget %></td>
    <td><%= link_to 'Details', projekt %></td>
    <td><%= link_to 'Bearbeiten', edit_projekt_path(projekt) %></td>
    <td><%= link_to 'Löschen', projekt, :confirm => 'Sicher?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neues Projekt anlegen', new_projekt_path %>