<h1>Projekt: <%= @projekt.name%></h1>
<p>
  <b>Projektleiter:</b>
  <%=h @projekt.mitarbeiter.name %>
</p>

<p>
  <b>Buchungen:</b>
  <%=h @projekt.buchungs %>
</p>

<p>
  <b>Name:</b>
  <%=h @projekt.name %>
</p>

<p>
  <b>Fertigstellungsgrad:</b>
  <%=h @projekt.fertigstellungsgrad %>
</p>

<p>
  <b>Einstufungsgrad:</b>
  <%=h @projekt.einstufungsgrad %>
</p>

<p>
  <b>Budget:</b>
  <%=h @projekt.budget %>
</p>


<%= link_to 'Mitarbeiter buchen', new_projekt_buchung_path(@projekt) %>


<%= link_to 'Edit', edit_projekt_path(@projekt) %> |
<%= link_to 'Back', projekts_path %>